@import 'tailwindcss';

/* По умолчанию — тёмная тема */
:root {
  color-scheme: dark;
}

body {
  /* тёмно-серый фон с мягким градиентом */
  --tw-bg-opacity: 1;
  background-image: linear-gradient(
    to bottom right,
    rgb(17 17 19 / 1),
    rgb(22 22 24 / 1),
    rgb(12 12 14 / 1)
  );
  color: rgb(228 228 231);
}

a {
  color: #a1a1aa;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
